<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">  <!-- 레이아웃 상속 -->

	<!--  각 페이지마다 css 내용을 각각 다른경우 재정의목적 -->
	<th:block layout:fragment="css">
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
	  <!--1) Include Handlebars from a CDN --> <!--핸들바-->
	  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	  <!-- 핸들바 탬플릿 -->
	  <script id="review-template" type="text/x-handlebars-template">
		<table id="revtable" class="table">
		<thead>
			<tr>
			<th scope="col">번호</th>
			<th scope="col">제목</th>
			<th scope="col">내용</th>
			<th scope="col">평점</th>
			<th scope="col">작성자</th>
			<th scope="col">등록일</th>
			<th scope="col">비고</th>
			</tr>
		</thead>

		<tbody>
			{{#each .}}
			<tr>
			<th scope="row">{{re_code}}</th>
			<td>{{re_title}}</td>
			<td>{{re_content}}</td>
			<td>{{displayStar re_rate}}</td>
			<td>{{mbsp_id}}</td>
			<td>{{convertDate re_date}}</td>
			<td>{{authControlView mbsp_id re_code}}</td>
			</tr>
			{{/each}}
		</tbody>
		</table> 
	  </script>
	</th:block>
	
<body>

<th:block layout:fragment="content">  <!-- 해당 태그 내 부분 빼고 다 재정의 되니까 이 태그 내부만 바꿔주면 다양한 페이지를 얻을 수 있다. -->  

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	  <h3 class="display-6" th:utext="${cat_name}"></h3>
	</div>
	
	
<div class="container">
	<div class="row">
        	<div class="col-6">
        		<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=' + product.pro_img}" style="width: 100%;height: 255px;">
        	</div>
        	<div class="col-6">
        	<form>
				<div class="form-group">
					<span id="info_pro_name" th:text="${product.pro_name}">이름</span>
					<small class="text-muted">(review : 0)</small>
				</div>
  				<div class="form-group">
			    	<label for="exampleFormControlInput1">판매가격: </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}"></span>
				</div>
			    <div class="form-group">
					<label>수량</label>
					<input type="number" class="form-control" value="1" id="btn_cart_amount">
			    </div>
			    <div class="form-group">
					<button type="button" class="btn btn-secondary" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_direct_buy">BUY IT NOW</button>
					<button type="button" class="btn btn-light" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_cart_add">ADD TO CART</button>
			    </div>
			</form>
        	
        	</div>
   </div> 
    <!-- 탭 -->    	
	<div class="row">
		<div class="col">
			<div id="pro_info">
			  <ul>
			    <li><a href="#pro_detail">상품상세</a></li>
			    <li><a href="#pro_review">상품리뷰</a></li>
			    <li><a href="#pro_qna">Q&A</a></li>
			  </ul>
			  <div id="pro_detail">
			    <p th:utext="${product.pro_content}"></p>
			  </div>
			  <div id="pro_review">
			   <p><button type="button" class="btn btn-link" id="btn_review_modal">상품후기작성</button></p>
			   <!--상품후기 출력위치-->
			   <div id="review_list"></div>
			   <!--페이징 출력 위치-->
			   <div id="review_paging"></div>
			  </div>
			  <div id="pro_qna">
			    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
			    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
			  </div>
			</div>
		</div>
	</div>        	
        	
        	
    



	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>


<!-- Button trigger modal -->
<!--상품후기 모달-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="review_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>


</th:block>





<th:block layout:fragment="script">
<!-- 제이쿼리ui코드 추가 -->
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

  <script th:inline="javascript">
    $(document).ready(function() {
  	 
      // 제이쿼리 ui, tabs	
      $( "#pro_info" ).tabs();	
    	
    	
    	//modal 2 
  	  // name="btn_cart_add" 장바구니 추가
  	  $("button#btn_cart_add").on("click", function() {
  		
  	     	console.log("장바구니 추가");
  		  
    		let pro_num = $(this).data("pro_num");
      		let cart_amount = $("#btn_cart_amount").val();

      		$.ajax({
      			url: '/cart/cart_add',
      			type: 'get',
      			data: {pro_num : pro_num, cart_amount : cart_amount},
      			dataType: "text",  //장바구니에 무사히 들어가면 success문자를 받아올거니까  text로
      			success: function(result) {
      				if(result == 'success'){
      					alert("장바구니에 등록 되었습니다.");
      					if(confirm("장바구니로 이동하시겠습니까?")) {
      						location.href = "/cart/cart_list";  //장바구니 주소
      					}
      				}
      			}

      		});

  	  });

  	  //name="btn_direct_order" 바로구매
  	  $("button[name='btn_direct_order']").on("click", function(){
		

  	  });

	  // [상품 후기와 페이징 정보를 호출하는 작업]
	  let reviewPage = 1;  //첫번째 페이지
//	  let url = "상품 후기와 페이징 정보를 요청하는 주소"; ReviewController에서 만든거  /revlist/{pro_num}/{page}
	  let url = "/review/revlist/" + [[${product.pro_num}]] + "/" + reviewPage;
	  console.log("상품후기주소", url);
    
	  
	  getReviewList(url);  // 이걸 호출해서 아래 코드가 동작 되게 해야 한다.

	  //ajax문법을 통한 주소요청 작업 //   $.ajx , load(), getJSON() :ajax기능을 제공해줌.
	  function getReviewList(url) {
		$.getJSON(url, function(reviewlist) { //url이 실행되면 function(reviewlist)로 받음. 이건 우리가 임의로 작성하는 것.ajax
			console.log("reviewlist", reviewlist.revlist);
			console.log("reviewlist", reviewlist.pageMaker);

			//함수호출
			print_reviewlist(reviewlist.revlist, $("#review_list"), $("#review-template"))
			print_paging(reviewlist.pageMaker, $("#review_paging"));
		
		});
	  }

	  // 상품 후기 ui작업 ///핸들바 템플릿 이용				// reviewlist.revlist가 reviewData로 들어간다.
	  let print_reviewlist = function(reviewData, target, template) {
		let templateObj = Handlebars.compile(template.html()); // 템플릿 문법검사및 참조
		let reviewHtml = templateObj(reviewData);
		target.children().remove();
		target.append(reviewHtml);
	}

	  //페이징 ui작업  //로직으로 작업
	  let print_paging = function(pageData, target) {
		let str = `<nav aria-label="Page navigation example">`;
			str += `<ul class="pagination">`;

            //이전표시여부
            if(pageData.prev) {
                str += `<li class="page-item">`;
                str += ` <a class="page-link" href="${pageData.startPage - 1}" aria-label="Previous">`;
                str += `<span aria-hidden="true">이전</span>`;
                str += `</a>`;
                str += `</li>`;
            }


            //페이지 번호 표시
            for(let i=pageData.startPage; i<=pageData.endPage; i++) {
                let className = pageData.cri.pageNum == i ? 'active' : '';
                str += `<li class="page-item ${className}"><a class="page-link" href="${i}">${i}</a></li>`;        
            }
           
            //다음표시여부
            if(pageData.next) {
                str += `<li class="page-item">`;
                str += ` <a class="page-link" href="${pageData.endPage + 1}" aria-label="Next">`;
                str += `<span aria-hidden="true">다음</span>`;
                str += `</a>`;
                str += `</li>`;
            }


			//target에 값을 추가해준다
			target.html(str);
	  }



	  
	  //핸들바 함수 : 평점표시//  handlebar template에서 사용 목적
	  Handlebars.registerHelper("displayStar", function(rating) {

		let star = "";
		switch(rating) {
			case 1:
				star = "★☆☆☆☆";
				break;
			case 2:
				star = "★★☆☆☆";
				break;
			case 3:
				star = "★★★☆☆";
				break;
			case 4:
				star = "★★★★☆";
				break;
			case 5:
				star = "★★★★★";
				break;
		}
		return star;
	  });
	  
	  //행들바함수 : 날짜 포맷 (2024/07/10)
	  Handlebars.registerHelper("convertDate", function(re_date) {
		const d = new Date(re_date);

		let year = d.getFullYear();
		let month = d.getMonth() + 1;
		let date = d.getDate();
		let hour = d.getHours();
		let minute = d.getMinutes();

		return `${year}/${month}/${date}/${hour}:${minute}`;
	  });

	  // 핸들바함수 : 작성자와 로그인사용자가 일치되는 경우 수정, 삭제 버튼 표시
	  Handlebars.registerHelper("authControlView", function(mbsp_id, re_code) {
		
		let loginId = [[${session.login_status.mbsp_id}]];
		//console.log(loginId);

		//로그인 아이디와 리뷰작성자가 같은 사람이면
		let str = "";
		if(loginId == mbsp_id) {
			str += `<button type="button" class="btn btn-link" data-re_code="${re_code}">수정</button>`;
			str += `<button type="button" class="btn btn-link" data-re_code="${re_code}">삭제</button>`;
		}

		return new Handlebars.SafeString(str);
	  });

	  
	  //페이징 클릭 이벤트
	$("#review_paging").on("click", "nav ul.pagination a", function(e) {
		e.preventDefault(); 
		reviewPage = $(this).attr("href"); //선택한 페이지 번호값이 들어감.

		url = "/review/revlist/" + [[${product.pro_num}]] + "/" + reviewPage;

	 	getReviewList(url);

	});

	// 상품후기 modal
	$("#btn_review_modal").on("click", function() {
		$("#review_modal").modal('show');
	});




    }); // ready end
  </script>
</th:block>


    
</body>
</html>
