<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{/layout/baselayout}">  <!-- 레이아웃 상속 -->

<body>

<th:block layout:fragment="content">  <!-- 해당 태그 내 부분 빼고 다 재정의 되니까 이 태그 내부만 바꿔주면 다양한 페이지를 얻을 수 있다. -->  
<!--
mbsp_id, mbsp_name, mbsp_email, mbsp_password, mbsp_zipcode, mbsp_addr, 
mbsp_deaddr, mbsp_phone, mbsp_nick, mbsp_receive, mbsp_point, mbsp_lastlogin, mbsp_datesub, mbsp_updatedate
-->
<!-- --u_id, u_pwd, u_name, u_email, u_zip_code, u_addr, u_addrdetail, u_phone, u_regdate  -->
<!-- U_ID, U_PWD, U_NAME, U_EMAIL, U_ZIP_CODE, U_ADDR, U_ADDRDETAIL, U_PHONE, U_REGDATE -->
	
	<!----------->

	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<h1 class="mt-5" >아이디 찾기</h1>
			<div class="row">

				<div class ="col">

                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">ID Find Form</h3>
                    </div>
                  

                    <!-- id="joinForm" -->
                    <form class="form-horizontal" id="idFindForm" action="/user/idfind" method="post">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="mbsp_name" class="col-sm-3 col-form-label">이름</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="mbsp_name" name="mbsp_name" placeholder="이름" value="홍길동">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mbsp_email" class="col-sm-3 col-form-label">이메일</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="mbsp_email" name="mbsp_email" placeholder="이메일" value="asy9188@naver.com">
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-link" id="btnMailAuthcode">인증번호 발송</button>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="authcode" class="col-sm-3 col-form-label">인증코드</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="authcode" name="authcode">
                          </div>
                      </div>


                    </div>
                    
                    <div class="card-footer text-center">   
                      <button type="submit" class="btn btn-info btn-block" id="btnID">아이디 찾기</button>
                    </div>
                    
                    </form>
                </div>
	
	
				</div>

			</div>
			<div th:replace ="~{layout/comm/footer :: footerFragment}"></div>
		</div>
	</main>
</th:block>




<th:block layout:fragment = "script">
  <!--각각의 페이지에서 필요한 자바사크립트 작성-->  
<!--[제이쿼리사용]-->
<script th:inline ="javascript">
  //${msg}는 UserInfoController의 rttr.addFlashAttribute("msg", msg);의  [ "msg" ]을 의미함.
  let msg = [[ ${msg} ]];   // "failPW" or "failID"
  if(msg == "failID") {
      alert("이름과 메일정보를 확인해주세요.");
      document.getElementById("mbsp_name").focus();

  } else if(msg == "failAuthCode") {
      alert("인증번호를 정확히 입력해주세요.");
      document.getElementById("authcode").focus();
  }



  $(document).ready(function(){
      

  // [이메일 인증코드 요청]
  $("#btnMailAuthcode").on("click", function() {

      if($("#mbsp_email").val() == "") {
          alert("메일을 입력하세요.");
          $("#mbsp_email").focus();
          return;
      }

      $.ajax({
          url: '/email/authcode',
          type:'get',
          data: {receiverMail : $("#mbsp_email").val(), type : "emailID"},
          dataType: 'text',
          success: function(result) {
            if(result =="success"){
              alert("메일로 인증코드가 발급되었습니다.")
            }
          }
        
      });
  });

    
  });  //ready event end
</script>
</th:block>


	

</body>
</html>
